body, html {
	width: 100%;
	height: 100%;
	background: black;
}
.container {
	width: 960px;
	margin: 0 auto;
}
canvas {
	margin-top: 2em;
	background: white;
	background-image: url('../images/background.png');
}
button {
	display: block; 
	width: 100%;
	font-size: 32px;
	margin: 0.25em 0;
}